@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body{
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background: #fff;
    padding: 30px 0;
    border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
.home{
    height: 86px;
}
.container{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    max-width: 505px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
    letter-spacing: -2%;
}
.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 134px;
    width: 100%;

}
.socials button{
    background: none;
    border: none;
}
.hamburger{
    display: none;
}
@media (max-width: 768px) {
    .hamburger{
        position: relative;
        background: none;
        border: none;
        display: grid;
        gap: 5px;
    }
    .bar{
        height: 3px;
        width: 28px;
        background: #121212;
        transition: all ease 1s;
    }
    .hamburger.active .bar:nth-child(1){
        transform: rotate(45deg) translateY(12px);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-12px);
    }
    .nav-menu{
        position: absolute;
        height: 100vh;
        max-width: 100%;
        width: 100%;
        background: #fff;
        top: 0px;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition:  all ease 1s;
    }
    .active{
        left: 0;
    }
    .socials{
        display: none;
    }
}
.card{
    margin: 30px 0;
    background-color: rgba(231, 250, 254, 1);
    height: 640px;
    border: 12px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.desp{
    /* padding: 60px 20px 60px 60px; */
    padding: 32px;
    /* padding-right: 0px; */
    width: 48.44%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hot-recipes{
    width: 156px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 30px;
    background: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -2%;
    color: #000;
    margin-bottom: 30px;
}
.hot-recipes::after{
    position: absolute;
    content: '';
    top: 10px;
    left: 5px;
    width: 156px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background: #fff;
    filter: drop-shadow(20px 10px 0 #2940461A) blur(40px);
}
.msg{
    top: 277px;
    /* border: 1px gray solid; */
    /* height: 154px;
    max-width: 520px; */
    /* width: 100%; */
    margin-bottom: 20px;
}
.msg h1{
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 77.45px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.imago{
    position: relative;
    height: 640px;
    width: 51.56%;
    background: url('./pictures/baked-chicken-wings-asian-style-tomatoes-sauce-plate\ 1.png');
    border-radius: 0px 30px 30px 0px;
}
.desp1{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.time-chicken{
    margin: 30px 0;
    display: flex;
    gap: 20px;
}
.timer{
    background: rgba(0, 0, 0, 0.05);
    height: 40px;
    width: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 10px;
}
.timer span{
    font-weight: 500;
    size: 14px;
    line-height: 16.94px;
    letter-spacing: -2%;
}
.holder2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.person{
    display: flex;
    align-items: center;
    gap: 10px;
}
.person h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    letter-spacing: -2%;
}
.about-person{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -2%;
    line-height: 16.94px;
}
.view-receipe{
    width: 200px;
    height: 60px;
    border-radius: 16px;
    border: none;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.view-receipe span{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -2%;
    line-height: 16.94px;
    color: #fff;
}
.thumb-up{
    position: absolute;
    top: 30px;
    left: -50px;
}
@media (max-width: 1115px) {
    .msg{
        margin-bottom: 10px;
    }
    .msg h1{
        font-size: 4rem;
    }
    .card{
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        border-radius: 30px;
    }
    .desp{
        border-radius: 30px;
    }
    .nav-menu{
        z-index: 1;
    }
    .hamburger{
        z-index: 1;
    }
    .desp,.imago{
        max-width: 100%;
        width: 100%;
    }
    .imago{
        border-radius: 30px;
        z-index: 0;
    }
    .thumb-up{
        left: 10px;
        top: 10px;
    }
    
}
/* Little comment */
@media (max-width: 768px){
    .desp{
        padding: 15px;
    }
    .time-chicken{
        margin-top: 20px;
    }
    .imago{
        height: 320px;
        background-size: cover;
    }
    .desp h1{
        margin-top: 10px;
        line-height: 60.45px;
        /* padding-bottom: 0; */
    }
    .thumb-up img{
        height: 115px;
        width: 115px;
    }
    .desp{
        padding-top: 15px;
        background-color: #E7F9FD;
        z-index: 1;
    }
    .msg h1{
        font-size: 2.8rem;
    }
    .hot-recipes{
        margin-bottom: 0;
    }
}
@media (min-width: 768px) and (max-width: 1115px) {
    .imago{
        background-size: cover;
    }
    
}
 .categories{
    margin-top:80px;
    height: 342px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }
 .cat-header{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
 }
 .cat-header h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
    letter-spacing: -4%;
 }
 .view-all{
    width: 200px;
    height: 60px;
    border-radius: 16px;
    background: rgba(231, 250, 254, 1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.view-all span{
    font-weight: 600;
    color: #000;
    line-height: 19.36px;
    letter-spacing: -25;
}
.cat-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.items{
    /* background-color: red; */
    display: grid;
    place-items: center;
    border: none;
    height: 202px;
    width: 180px;
    border-radius: 0 0 30px 30px;
    background-size: 100%;
    background: url("./pictures/Rectangle\ 7.png");
    padding: 0;
    background-repeat: no-repeat;
    background-position: bottom;
}
.items span{
    color: #000;
}
.items:nth-child(2){
    background-image: url(pictures/Rectangle\ 8.png);
}
.items:nth-child(3){
    background-image: url('pictures/Rectangle\ 9.png');
}
.items:nth-child(4){
    background-image: url('pictures/Rectangle\ 10.png');
}
.items:nth-child(5){
    background-image: url('pictures/Rectangle\ 11.png');
}
.items:nth-child(6){
    background-image: url('pictures/Rectangle\ 12.png');
}
.items::after{
    position: absolute;
    content: '';
    height: 130px;
    width: 130px;
    background-image: url('pictures/lay1.png');
    /* background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%); */

}
.items:nth-child(2)::after{
    background-image: url('pictures/lay2.png');
}
.items:nth-child(3)::after{
    background-image: url('pictures/lay3.png');
}
.items:nth-child(4)::after{
    background-image: url('pictures/lay4.png');
}
.items:nth-child(5)::after{
    background-image: url('pictures/lay5.png');
}
.items:nth-child(6)::after{
    background-image: url('pictures/lay6.png');
}
.items span{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
@media (max-width: 768px) {
    .categories{
        height: 100%;
    }
    .cat-body{
        /* justify-content: space-evenly; */
        gap: 10px;
        /* padding-bottom: 10px; */
    }
}
@media (max-width: 411px) {
    .cat-body{
        justify-content: space-evenly;
    }
}

.simple-recipes{
    margin-top: 110px;  
    height: 1616px;
    max-width: 1280px;
    width: 100%;
 
    /* width: 100%; */
}
@media (max-width: 1300px) {
    .categories{
        height: 100%;
    }
    .cat-body{
        gap: 10px;
    }
    .simple-recipes{
        height: 100%;
    }
    .simple-recipes{
        height: 100%;
    }
}
.simr-header{
    padding-bottom: 40px; 
    text-align: center;
    max-width: 706px;
    width: 100%;
    margin: auto;
}
.simr-header h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: center;
    padding-bottom: 20px;
}
/* padding-bottom: 40px; */
.simr-header span{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.simr-body{
    width: 100%;
    /* background: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 30px; */
    row-gap: 30px;
}
.tasty{
    /* position: relative; */
    padding: 20px;
    max-width: 400px;
    width: 100%;
    height: 434px;
    gap: 0px;
    border-radius: 30px;
    opacity: 0px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}
/* @media (max-width: 768px) {
    .tasty{
        margin: auto;
    }
} */
/*  */
.tastydesp h1{
    padding: 20px 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.tastyimg{
    position: relative;
    max-width: 368px;
    width: 100%;
    height: 250px;
    /* background-image: url('pictures/b1.png'); */
    border-radius: 30px;
}
.favourite{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
}

.tasty:nth-child(1) .tastyimg{
    background-image: url('pictures/b1.png'); 
}
/* box-shadow: 0px 5px 10px 0px #FF636333; */



.set{
    margin-top: 10px;
}
.tasty:nth-child(2) .tastyimg{
    background: url('pictures/b2.png'); 
}
.tasty:nth-child(3) .tastyimg{
    background: url('pictures/b3.png'); 
}
.tasty:nth-child(4) .tastyimg{
    background: url('pictures/b4.png'); 
}
.tasty:nth-child(5) .tastyimg{
    background: url('pictures/b5.png'); 
}
.tasty:nth-child(6){
    background: url('pictures/Ads.png');
    border-radius: 0;
}
.tasty:nth-child(7) .tastyimg{
    background: url('pictures/b6.png'); 
}
.tasty:nth-child(8) .tastyimg{
    background: url('pictures/b7.png'); 
}
.tasty:nth-child(9) .tastyimg{
    background: url('pictures/b8.png'); 
}
.entice{
    display: flex;
    align-items: center;
    gap: 30px;
}
.fe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.fe span{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
@media (max-width: 908px) {
    .tasty{
        margin: auto;
        height: 100%;
    }
    .tasty:nth-child(6){
        height: 434px;
        background-position: center;
    }
}
@media (max-width: 1400px) {
    .simple-recipes{
        height: 100%;
    }
    /* .chef{
        background: gray;
        height: 100%;
    } */
}
.chef{
    /* background: rebeccapurple; */
    margin-top: 100px;
    /* margin-bottom: 100px; */
    /* background: red; */
    position: relative;
    max-width: 1280px;
    width: 100%;
    height: 597px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.chef-text{
    width: 500px;
    height: 116px;
}
.chef-text h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
}
.chef-text p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 50px;
}
.chef-text button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    width: 100%;
    height: 60px;
    border-radius: 16px;
    background: #000;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
}
.chefpic{
    /* position: relative; */
    width: 651px;
    /* height: 500px; */
    
    /* background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1; */
}
.carry-chef{
    border-radius: 30px;
    background-image: url('pictures/chef.png');
    background-position: bottom;
    background-repeat: no-repeat;
}
.chefpic{
    position: relative;
}
.carry-chef img{
    transform: translateX(-10%);
}
.fruits-one{
    position: absolute;
    top: 75%;
    left: -30px;
    /* background: red; */
}
.fruits-two{
    position: absolute;
    top: 10%;
    left: 60px;
}
.fruits-three{
    position: absolute;
    top: 20%;
    right: 30%;
}
.fruits-four{
    position: absolute;
    top: 30%;
    right: 6%;
}
/* .chef-text h1{
    max-width: 463px;
    width: 100%;
    background: red;
} */
 .chtwo{
    display: none;
 }
@media (max-width: 1350px) {
    .chef{
        /* background: red; */
        display: block;
        /* gap: 30px; */
        height: 100%;
    }
    .chone{
        display: none;
    }
    .chtwo{
        display: block;
    }
    .dischef{
        /* background: red; */
        max-width: 100%;
        width: 100%;
    }
    /* .dischef h1{
        max-width: 100;
    } */
     .chef-text{
        height: 100%;
        max-width: 100%;
        width: 100%;
     }
    .chefpic{
        width: 100%;
        /* background: gray; */
        margin-top: 30px;
    }
    .carry-chef img{
        width: 100%;
        transform: translateX(0);
    }
    .fruits-one{
        left: 10px;
    }
    .fruits-three{
        right: 50px;
    }
    .fruits-four{
        right: -20px;
    }
    .fruits-one img,.fruits-two img,.fruits-three img, .fruits-four img{
        width: 80%;
    }
    .fruits-four img{
        width: 60%;
    }
}
@media (min-width: 800px) and (max-width: 1350px)  {
    .fruits-one img,.fruits-two img,.fruits-three img, .fruits-four img{
        width: 100%;
    }
    .carry-chef img{
        width: 660px;
        transform: translateX(0);
    }
    .fruits-one{
        left: 10px;
    }
    .fruits-three{
        right: 30%;
    }
    .fruits-four{
        right: 25%;
    }
}
.instagram{
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    margin-top: 120px;
    width: 100%;
}
.insta-difference{
    /* background: red; */
    height: 964px;
    max-width: 1280px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.insta-text{
    max-width: 780px;
    /* max-width: 840px; */
    width: 100%;
    /* background: rebeccapurple; */
    text-align: center;
/* height: 138px; */
}
/*  */
.insta-text h1{
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 58.09px;
    letter-spacing: -0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.insta-text span{
    /* background: green; */
    max-width: 90%;
    width: 100%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.insta-body{
    margin: 45px auto;
    width: 100%;
    /* background: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.visit-insta{
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vinsta{
    background: #000;
    max-width: 229px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}
.vinsta span{
    font-family: Inter;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    letter-spacing: -0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.posts{
    background-color: #fff;
    width: 290px;
    height: 445.44px;
    display: flex;
    flex-direction: column;

}
.posts button{
    background: none;
    border: none;
    padding: 0;
}
.sec1{
    padding: 10px;
    width: 290px;
    height: 41.76px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.in-write{
    
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    /* line-height: -5px; */
}
.inwricon{
    display: grid;
    gap: 0;
}
.inwricon b{
    font-family: SF Pro Text;
    font-size: 10.05px;
    font-weight: 600;
    line-height: 13.92px;
    letter-spacing: -0.07733333110809326px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.inwricon span{
    font-family: SF Pro Text;
    font-size: 8.51px;
    font-weight: 400;
    line-height: 10.15px;
    letter-spacing: 0.0541333332657814px;
    margin-top: -0.5px;
    color: #262626;
}
/*  */

.sec2{
    width: 290px;
    height: 290px;
    background: url('pictures/i1.png');
    position: relative;
}
.count{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #121212B2;
    border-radius: 10.05px;
    width: 26.29px;
    height: 20.11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f9f9;

}
.count span{
    font-family: SF Pro Text;
    font-size: 9.28px;
    font-weight: 400;
    line-height: 11.07px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.sec3{
    /* background: rebeccapurple; */
    /* font-size: 1px; */
    width: 290px;
    height: 113.68px;
    padding: 10px;
}
.like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts:nth-child(2) .sec2{
    background: url('pictures/i2.png');
}
.posts:nth-child(3) .sec2{
    background: url('pictures/i3.png');
}
.posts:nth-child(4) .sec2{
    background: url('pictures/i4.png');
}
.s1{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.s2{
    /* background: red; */
    width: 76px;
    display: flex;
    justify-content: center;
}
.s3{
    /* background: red; */
    width: 76px;
    display: flex;
    justify-content: right;
    /* align-items: center; */
}
.comm{
    margin-top: 5px;
    /* background: red; */
}
.showl{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}
.showl span{
    font-family: SF Pro Text;
    font-size: 10.05px;
    font-weight: 400;
    line-height: 13.92px;
    letter-spacing: -0.08px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.showl b{
    font-weight: 600;
}
/* .showA{
    margin-top: 5px;
} */
.showA{
    /* background: red; */
    margin-top: 5px;
    font-family: SF Pro Text;
    font-size: 10.05px;
    font-weight: 600;
    width: 100%;
    /* line-height: 0.92px; */
    /* letter-spacing: -0.85px; */
    text-align: justify;
}
.inwricon span, .showl span{
    color: #262626;
}
.showl b{
    color: #000;
}
.showA span{
    padding: 0 0 0 0px;
    /* font-size: 10.05px; */
    /* margin-left: 20px; */
    font-weight: 400;
    /* letter-spacing: -0.77; */
    color:#262626;
}
.date{
    margin-top: 12.5px;
    font-family: SF Pro Text;
    font-size: 8.51px;
    font-weight: 400;
    line-height: 10.15px;
    letter-spacing: 0.039px;
    color: rgba(0, 0, 0, 0.4);

}

@media (max-width: 1375px) {
    .insta-difference{
        height: 100%;
    }
    .visit-insta{
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .insta-body{
        justify-content: center;
    }
}
@font-face {
    font-family: SF Pro Text;
    src: url(fonts/SF-Pro-Text-Regular.otf);
}
@font-face {
    font-family: SF Pro Text Bold;
    src: url(fonts/SF-Pro-Text-Bold.otf);
}